@charset "UTF-8";


/* form styling */

body {
	background-color: lightblue;
  }


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

.field_set{
	border-color:#F00;
	border-style: solid;
   }

label {
	margin-right: 0em;
	width: 5.5em;  /* I made this deliberately wide – come up with your own 
	optimal width */
	display: inline-block; /* width will not work for “inline” elements such as 
	“label”. Therefore we need to set it to “inline-block” */
	text-align: right;
	}

#multchoice label {
	margin-right: .5em;
	text-align: left;
}

/* we place the id formcol1 in front of the li element in order to limit this 
formatting to the top part of the form */
#formcol1 li {   
	list-style:none;
}

select:focus, select:active, input:focus, input:active, input:focus + label, 
input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #BB3D2F !important;}

#formcol1 input.reqfield {
	background:#FF9;
}
	




/* end of form css */
	
